<?/*<div id="main-banner" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active"><img src="/img/banner/Hotels/bvlgari-1.jpg" alt="..."></div>
		<div class="item"><img src="/img/banner/Hotels/45-park-lane-1.jpg" alt="..."></div>
		<div class="item"><img src="/img/banner/Cars/Mercedes/S500/S500-1.jpg" alt="..."></div>
		<div class="item"><img src="/img/banner/Cars/Bentley/Flying Spur/Flying-Spur-1.jpg" alt="..."></div>
	</div>
</div>*/?>
<div id="slideshow">
	<div class="ns-container theme-dark">
		<div class="ribbon"></div>
		<div id="slider" class="nivoSlider">
			<img src="/img/banner/Hotels/bvlgari-1.jpg" alt="..." />
			<img src="/img/banner/Hotels/45-park-lane-1.jpg" alt="..."/>
			<?/*<a href="http://dev7studios.com">
				<img src="/img/banner/Hotels/45-park-lane-1.jpg" alt="..." title="#htmlcaption" />
			</a>
			<div id="htmlcaption hide">HERE</div>
			*/?>
			<img src="/img/banner/Cars/Mercedes/S500/S500-1.jpg" alt="..." />
			<img src="/img/banner/Cars/Bentley/Flying Spur/Flying-Spur-1.jpg" alt="..." />
		</div>
	</div>
</div>