/* CSS Document */
/* html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
input, select, textarea, button,
dd, dl, dt, li, ol, ul, #header, #footer, summary, details,
fieldset, form, label, legend, article, #nav, section, time,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-align: left;
	position:relative;
	text-decoration:none;
	z-index:1;
} */

a:hover{
	text-decoration:none;
	color: rgb(28, 117, 188);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color: rgb(28, 117, 188);}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: rgb(28, 117, 188);}
.blue-text{color: rgb(28, 117, 188);}
.blue-border-left-sm{border-left: 1px solid rgb(28, 117, 188);}
.blue-border-left-md{border-left: 2px solid rgb(28, 117, 188);}
.blue-border-left-lg{border-left: 3px solid rgb(28, 117, 188);}
.blue-border-right-sm{border-right: 1px solid rgb(28, 117, 188);}
.blue-border-right-md{border-right: 2px solid rgb(28, 117, 188);}
.blue-border-right-lg{border-right: 3px solid rgb(28, 117, 188);}
.blue-border-top-sm{border-top: 1px solid rgb(28, 117, 188);}
.blue-border-top-md{border-top: 2px solid rgb(28, 117, 188);}
.blue-border-top-lg{border-top: 3px solid rgb(28, 117, 188);}
.blue-border-bottom-sm{border-bottom: 1px solid rgb(28, 117, 188);}
.blue-border-bottom-md{border-bottom: 2px solid rgb(28, 117, 188);}
.blue-border-bottom-lg{border-bottom: 3px solid rgb(28, 117, 188);}

@media (min-width: 1200px)
.container {
	max-width: 1920px;
}

html,body{
	width:100%;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

body {
  background-color: #010101;
  color: #cccccc;
}

body.admin {
  padding-top: 60px;
  background-color: #010101;
  color: #cccccc;
}

.alert-default {
	color: #ffffff;
	background-color: #1E2629;
	border-color: #3dced8;
}

/* .navbar {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#484e55), color-stop(60%, #3a3f44), to(#090909 090909));
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #090909);
  background-image: -moz-linear-gradient(top, #484e55, #3a3f44 60%, #090909);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #090909);
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff090909', GradientType=0);
  filter: none;
} */


a img, :link img, :visited img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	border: none;
	margin-bottom: 10px;
}

h3 {font-size: 1.5em;}

ol, ul {
	list-style: none;
}

.clear{
	clear: both;
}
/* @media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
} */

.main-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.carousel-caption {
	padding-bottom: 0px;
	padding-bottom: 0px;
	bottom: 10px;
	color: #ffffff;
	border-radius: 3px;
	
}
.carousel-caption .btn{
	background-color: rgba(0,0,0,0.5);
}

li.banner-item {
	width: 600px;
	hieght: 500px;
}

img {
	background-size: contain;
}

.left-divider {
	border-left: 2px solid #0a62b5;
}

.divider {
	border-right: 2px solid #0a62b5;
}

.home-box {
	min-height: 180px;
}

.thumbnail {
	background-size: contain;
}

.content-container {
	margin-top: 30px;
}

.footer {
	margin-top: 30px;
	height: 120px;
	padding: 19px;
	background-color: #131313;
	order: 1px solid #0c0d0e;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


#banner{
	height:540px;
	background:#0a2145 url(/img/homepage_banner.jpg) repeat-x left top;
	margin:-10px 0 28px 0;
}

#banner .cont{
	height:540px;
	overflow:visible;
}



#bottom-shade {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0 20px;
	box-shadow: 1px 1px 5px 0 rgba(11,30,44,0.9);
	overflow: hidden;
	background-color: #234;
	background-color: rgba(11, 30, 44, 0.9);
	z-index: 1051;
}
#bottom-shade .alert {
	left: 50%;
	position: relative;
	margin-left: -500px;
	width: 950px;
	margin-bottom: 20px;
	margin-top: 20px;
}